.logo img {
    height: 5rem;
    width: auto;
    object-fit: cover;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 1rem;
}